body {
   
   font-size: 16px;
   min-height: 100%;
   font-family: 'Raleway', sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 25px;
}

h1 {
   font-size: 52px;
   line-height: 60px;
   margin: 0px 0px 15px 0px;
   font-weight: 400;
   font-style: normal;
   font-family: 'Raleway', sans-serif;
}

h2 {
   font-size: 36px;
   line-height: 46px;
   margin: 0px 0px 25px 0px;
   font-family: 'Raleway', sans-serif;
}

h3 {
   font-size: 28px;
   line-height: 36px;
   margin: 0px 0px 19px 0px;
   font-family: 'Raleway', sans-serif;
}

h4 {
	font-size: 20px;
   margin:0 0 15px 0;
   line-height: 27px;
   font-family: 'Raleway', sans-serif;
}

p {
   margin: 0px 0px 25px 0px;
   text-transform: inherit;
   font-size: 16px;
   font-family: 'Raleway', sans-serif;
}

p.intro {
   font-size: 20px;
   line-height: 29px;
   margin: 0px;
   font-family: 'Raleway', sans-serif;
}

blockquote.pull-quote {
   margin: 0em 1em 1em 0em;
   border-left: 3px solid #ccc;
   padding: 0em 0em 0em 0.7em;
   font-family: 'Raleway', sans-serif;
}

div.content {
   margin: 0 auto;
   text-align: left;
   width: 40%;
   padding: 50px 0px 0px 0px;
   font-family: 'Raleway', sans-serif;
}

p.quote {
   font-size: 23px;
   line-height: 28px;
   font-style: italic;
   color: #666666;
   margin: 0px;
   font-family: 'Raleway', sans-serif;
}

blockquote {
   font-size: 26px;
   line-height: 37px;
   margin-bottom: 25px;
   font-family: 'Raleway', sans-serif;
}

ul {
   margin: 10px 20px;
   padding: 10px 20px;
   font-family: 'Raleway', sans-serif;
}

h5 {
	font-size: 14px;
	line-height: 20px;
   margin: 0px 0px 10px 0px;
   font-family: 'Raleway', sans-serif;
}
h6 {
	font-size: 12px;
	line-height: 17px;
   margin: 0px 0px 10px 0px;
   font-family: 'Raleway', sans-serif;
}


/*@media screen and (max-width: 1280px) {
	body {
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-style: normal;
   font-size: 16px;
}

h1 {
   font-size: 50px;
   line-height: 61px;
   margin: 0px 0px 23px 0px;
}

h2 {
   font-size: 41px;
   line-height: 50px;
   margin: 0px 0px 18px 0px;
}

h3 {
   font-size: 30px;
   line-height: 38px;
   margin: 0px 0px 15px 0px;
}

h4 {
   font-size: 22px;
   line-height: 39px;
   margin: 0px 0px 12px 0px;
}

p {
   margin: 0px 0px 25px 0px;
   font-size: 17px;
}

p.intro {
   margin: 0px 0px 20px 0px;
   font-size: 18px;
   line-height: 27px;
}

h6 {
   font-size: 14px;
   line-height: 20px;
   margin: 0px 0px 7px 0px;
}

h5 {
   line-height: 27px;
   margin: 0px 0px 8px 0px;
   font-size: 18px;
}


} */
@media screen and (max-width: 1024px) {
	h1 {
   font-size: 35px;
   line-height: 43px;
   width: 410px;
   margin: 0px 0px 15px 0px;
}

h2 {
   font-size: 25px;
   line-height: 33px;
   margin: 0px 0px 12px 0px;
}

h3 {
   font-size: 20px;
   line-height: 28px;
   margin: 0px 0px 8px 0px;
}

h4 {
   font-size: 16px;
   line-height: 23px;
   margin: 0px 0px 9px 0px;
}

p {
   font-size: 16px;
   line-height: 24px;
   margin: 0px 0px 20px 0px;
}

p.intro {
   font-size: 17px;
   line-height: 26px;
}

h6 {
	line-height: 15px;
   font-size: 10px;
   margin: 0px 0px 6px 0px;
}

h5 {
   line-height: 18px;
   font-size: 12px;
   margin: 0px 0px 6px 0px;
}


} 
@media screen and (max-width: 768px) {
	h1 {
   font-size: 30px;
   line-height: 40px;
   margin: 0px 0px 12px 0px;
}

h2 {
   font-size: 24px;
   line-height: 30px;
   margin: 0px 0px 9px 0px;
}

h3 {
   font-size: 19px;
   line-height: 23px;
   margin: 0px 0px 8px 0px;
}

h4 {
   font-size: 15px;
   line-height: 20px;
   margin: 0px 0px 8px 0px;
}

p {
   font-size: 15px;
   line-height: 20px;
   margin: 0px 0px 13px 0px;
}

p.intro {
   font-size: 14px;
   line-height: 23px;
}

h6 {
   font-size: 12px;
   line-height: 16px;
    margin: 0px 0px 5px 0px;
}

h5 {
   font-size: 13.5px;
   line-height: 18px;
   margin: 0px 0px 5px 0px;
}



} @media screen and (max-width: 480px) {
body {
}

h1 {
   font-size: 30px;
   line-height: 36px;
   margin: 0px 0px 13px 0px;
}

h2 {
   font-size: 25px;
   line-height: 30px;
   margin: 0px 0px 11px 0px;
}

h3 {
   font-size: 16px;
   line-height: 24px;
}

h4 {
   font-size: 13px;
   line-height: 20px;
}

p {
   line-height: 20px;
   font-size: 13px;
}

p.intro {
   line-height: 20px;
   margin: 0px 0px 13px 0px;
   font-size: 13px;
}

div.content {
}

li {
}

ul {
}

h5 {
   font-size: 11px;
   line-height: 20px;
}


} 