/* *********** Tweets container ****************/
.tweets{
	border: solid 1px #F9F5F5;
	margin: 1% 2.5%;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
}
/* **************** Celebs container **************/
.celebs{
	margin: 1% 2.5%;
	border: solid 1px #F9F5F5;
	/* **** padding works when a div is placed inside the pure-u class **** */
	padding: 1em;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
}
.avatar{
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-left: -10%;
	
}
/*.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: ...;
    height: ...;
}
.wraptocenter * {
    vertical-align: middle;
}

.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}*/
/* *********** Name **************/
.name{
	margin-top: 0 !important;
	line-height: 1rem !important;
	color:#8899a6;
}
.screenName{
	color:#292f33;

}
.twitterButtons{
	text-align: center !important;
	padding:10px 0;
}
.twitterButtonsContainer{
	margin-top: 10px;
	border: solid 1px #F9F5F5;
}
.7-margin-top{
	margin-top: 0.7rem !important;
}
