/*  ************* PADDING FOR GRIDS IN TWEETS CONTAINER ************/
.padding-grids{
	padding:0.5rem;
}
@media screen and (max-width: 480px) {
	.padding-grids{
		padding:4px;
	}
}

/* *********** Tweets container ****************/
.tweets{
	border: solid 1px #F9F5F5;
	margin: 1% 2.5%;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
z-index:9999 !important;
background: #ffffff;
}
/* **************** Celebs container **************/
.celebs{
	margin: 1% 2.5%;
	border: solid 1px #F9F5F5;
	/* **** padding works when a div is placed inside the pure-u class **** */
	padding: 1em;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
-moz-box-shadow:    0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
box-shadow:         0px 0px 2px 0px rgba(50, 50, 50, 0.75) !important;
background: #ffffff;
}
.avatar{
	margin-left: auto;
	margin-right: auto;		
}
/*.wraptocenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: ...;
    height: ...;
}
.wraptocenter * {
    vertical-align: middle;
}

.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}*/
/* *********** Name **************/
.name{
	margin-top: 0 !important;
	line-height: 1rem !important;
	color:#8899a6;
	font-weight: 200 !important;
}
.screenName{
	color:#292f33;
	margin: 0 0 0 0 !important;

}
/******* Line height for small screens *************/
@media screen and (max-width: 480px) {
	.screenName{
		color:#292f33;
	margin: 0 0 0 0 !important;
	line-height: 10px !important;
	}
}
.twitterButtons{
	text-align: center !important;
	padding:10px 0;
}
.twitterButtonsContainer{
	margin-top: 10px;
	border: solid 1px #F9F5F5;
}
.
.7-margin-top{
	margin-top: 0.7rem !important;
}
.bgtex{
	background: #1f8dd6 !important;
/*background-image: url("zenbg.png") !important;*/
z-index: -1 !important;
}
.auto-link{
	color:#1F8DD6;
	font-weight: 600;
	text-decoration: none;
}
.auto-link:hover{
	text-decoration: underline;
}

.media{
	max-width: 40% !important;
	max-height: 40% !important;
	margin-left: auto;
	margin-right: auto;
}