<div>
	<div class="pure-g">
	<!-- ********** Actress ********* -->
	<div class="pure-u-24-24 pure-u-lg-1-2">
		<div class="celebs">
		<div ng-repeat="actress in actressess">
			<a class="nil"href="#/celebs/{{actress.screenName}}"><h4>{{actress.name}}</h4></a>
		</div>
	</div>
	</div>
	<!-- ********** Actors **********-->
	<div class=" pure-u-24-24 pure-u-lg-1-2">
		<div class="celebs"> 
		<div ng-repeat="actor in actors">
			<a class="nil" href="#/celebs/{{actor.screenName}}"><h4>{{actor.name}}</h4></a>
		</div>
		</div>
	</div>
</div>
<div class="pure-g">
	<!-- *********** Directors ********-->
	<div class="pure-u-24-24 pure-u-lg-1-2">
		<div class="celebs">
		<div ng-repeat="director in directors">
<a class="nil"href="#/celebs/{{director.screenName}}"><h4>{{director.name}}</h4></a>
		</div>
	</div>
	</div>
	<!-- *********** Music Directors ********* -->
	<div class="pure-u-24-24 pure-u-lg-1-2">
		<div class="celebs">
		<div ng-repeat="musicdirector in musicDirectors">
			<a class="nil" href="#/celebs/{{musicdirector.screenName}}"><h4>{{musicdirector.name}}</h4></a>
		</div>
	</div>
	</div>
</div>
	<!-- *********** Others *********** -->
	<div class="pure-u-24-24 pure-u-lg-1">
		<div ng-repeat="other in otheres">
			<a class="nil"href="#/celebs/{{other.screenName}}"><h4>{{other.name}}</h4></a>
		</div>
	</div>
</div>