<div>
	<div class="pure-g">
	<!-- ********** Actress ********* -->
	<div class="pure-u-24-24 pure-u-lg-1-2">
		<div class="celebs">
		<div ng-repeat="actress in actressess">
			<h4>{{actress.name}}</h4>
		</div>
	</div>
	</div>
	<!-- ********** Actors **********-->
	<div class=" pure-u-24-24 pure-u-lg-1-2">
		<div class="celebs"> 
		<div ng-repeat="actor in actors">
			<h4>{{actor.name}}</h4>
		</div>
		</div>
	</div>
</div>
<div class="pure-g">
	<!-- *********** Directors ********-->
	<div class="pure-u-24-24 pure-u-lg-1-2">
		<div class="celebs">
		<div ng-repeat="director in directors">
			<h4>{{director.name}}</h4>
		</div>
	</div>
	</div>
	<!-- *********** Music Directors ********* -->
	<div class="pure-u-24-24 pure-u-lg-1-2">
		<div class="celebs">
		<div ng-repeat="musicdirector in musicDirectors">
			<h4>{{musicdirector.name}}</h4>
		</div>
	</div>
	</div>
</div>
	<!-- *********** Others *********** -->
	<div class="pure-u-24-24 pure-u-lg-1">
		<div ng-repeat="other in otheres">
			<h4>{{other.name}}
		</div>
	</div>
</div>