<div ng-repeat="tweet in tweets" class="tweets pure-type">
  <!-- *** avatar, name, screen name *** -->
  <div class="pure-g">

    <div class="pure-u-1-24">
      <!-- for space on the left.. used instead of padding -->
    </div>
    <div class="pure-u-2-24">
      <img class="pure-img avatar" src="{{tweet.tweet.user.profile_image_url_https}}"/>
    </div>
    <div class="pure-u-15-24">
      <h3 class="screenName">{{tweet.tweet.user.name}}</h3>
      <h4 class="name">@{{tweet.screenName}}</h4>
    </div>
    <!-- *** time stamp *** -->
    <div class="pure-u-6-24">
      <h4>{{tweet.tweet.created_at}}</h4>
    </div>
  </div>
  <!-- *** tweet *** -->
  <div class="pure-g">
    <div class="pure-u-1-24">
      <!-- for space on the left.. used instead of padding -->
    </div>
    <div class="pure-u-23-24">
      <p>{{tweet.tweet.text}}</p>
    </div>
  </div>
  
  <!-- *** twitter buttons *** -->
  <div>
    <div class="">
    </div>
    <div class="">
    </div>
    <div class="">
    </div>
  </div>
</div>